name: website

on:
  push:
    branches:
      - main
  pull_request:
    types: [ opened, labeled, unlabeled, synchronize ]
  workflow_dispatch: # Allows manual triggering
  schedule: # Runs every Sunday at midnight (UTC)
    - cron: '0 0 * * 0'

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    name: website
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Project
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 1

      - name: Setup Node.js
        uses: actions/setup-node@v4.4.0
        with:
          node-version: 22
      - run: node --version
      - run: npm --version
      - run: npx --version

      - name: Cache Dependencies
        id: cache_dependencies
        uses: actions/cache@v4.2.4
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('package-lock.json') }}

      - name: Setup Git Ppages
        uses: actions/configure-pages@v5.0.0
        with:
          static_site_generator: next

      - name: Install Dependencies
        run: npm ci

      - name: Run Linter
        run: npm run lint

      - name: Build Website
        run: npm run build

      - name: Generate sitemap.xml
        run: |
          npm install sitemap-generator-cli
          npx sitemap-generator-cli https://jaredsburrows.github.io/ \
            --max-depth 5 \
            --changefreq weekly \
            --priority-map '1.0:/:2, 0.8:/about, 0.6:/projects' \
            --ignore-robots \
            --last-mod \
            --max-entries 50000 \
            --timeout 10000 \
            --gzip
        working-directory: ./out

      - name: Upload Website
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: ./out

  deploy:
    if: github.repository == 'jaredsburrows/jaredsburrows.github.io' && github.ref == 'refs/heads/main'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Publish to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5
